* {
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}

.container{
    display: flex;
}

.side{
    min-width: 320px;
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    border-right: 1px solid #e1e1e1;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}

.side .header{
    background: linear-gradient(262deg, #ff7854, #fd267d);
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.side .header .avatar img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.side .header .title{
    padding: 0 10px;
    color: #fff;
    font-size: 19px;
}

.side .menu ul{
    display: flex;
    padding: 0 20px;
}

.side .menu ul li{
    list-style: none;
    margin: 0 10px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.side .menu ul li:hover,
.side .menu .active{
    border-bottom: 3px solid #fd5068;
    padding-bottom: 2px;
}

.side .messages{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.2s box-shadow;
}

.side .messages .avatar img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 70px;
}

.side .header .avatar:hover .enlarge-profile,
.side .messages .avatar:hover .enlarge-1,
.side .messages .avatar:hover .enlarge-1,
.side .messages .avatar:hover .enlarge-2,
.side .messages .avatar:hover .enlarge-3,
.side .messages .avatar:hover .enlarge-4,
.side .messages .avatar:hover .enlarge-5,
.side .messages .avatar:hover .enlarge-6{
    position: absolute;
    top: 45px;
    left: calc(100% - 74.5%);
    height: 87vh;
    width: 70vh;
    background-image: url(./images/profile-1.jpg);
    background-size: cover;
    transform: scale(1.1);
    z-index: 1000;
}

.side .header .avatar:hover .enlarge-profile{
    background-image: url(./images/main-pic.jpg);
}
.side .messages .avatar:hover .enlarge-2{
    background-image: url(./images/profile-2.jpg);
}
.side .messages .avatar:hover .enlarge-3{
    background-image: url(./images/profile-3.jpg);
}
.side .messages .avatar:hover .enlarge-4{
    background-image: url(./images/profile-4.jpg);
}
.side .messages .avatar:hover .enlarge-5{
    background-image: url(./images/profile-5.jpg);
}
.side .messages .avatar:hover .enlarge-6{
    background-image: url(./images/profile-6.jpg);
}

.side .messages .user{
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.side .messages .text{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-weight: 300;
    font-size: 15px;
    opacity: 0.8;
}

.side .messages:hover{
    box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
    border-right: 5px solid #fd5068;
}

.container .card{
    position: relative;
    height: 450px;
}

.content .card .user{
    width: 380px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}

.content .card .user .profile{
    position: absolute;
    bottom: 0;
    left: 20px;
}

.content .card .user .name{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 5px #444;
    margin-bottom: -5px;
}

.content .card .user .name img{
    position: absolute;
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
}

.content .card .user .name span{
    font-size: 26px;
}

.content .card .local{
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
}

/* ****************************************************** */
.content .card .local img{
    margin: 5px 0;
    color: #fff;
    width: 30px;
    height: 30px;
}
.small-icon{
    width: 30px;
    height: 30px;
}

.content .card .user .view-icon{ 
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: #ffffff98;
    border-radius: 0 15px 0 15px;
    opacity: 0;  
}

.content .card:hover .user .view-icon{
    opacity: 1;
}

.content .card:hover{
    transform: scale(1.003);
}

.content .card .local span{
    font-weight: 100;
    color: #fff;
    padding: 0 10px;
    text-shadow: 1px 1px 5px #444;
}

.content .buttons{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.content .buttons .button{
    background-color: #fff;
    width: 70px;
    height: 70px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    margin: 4px;
    transition: 0.2 transform;
} 

.content .buttons .button:hover{
    transform: scale(1.1);
}

.content .buttons .star{
    width: 60px;
    height: 60px;
}

.side .header .avatar:hover,
.side .menu ul li:hover,
.side .messages:hover,
.content .card:hover,
.content .buttons .button:hover{
    cursor: pointer;
}

/* ****************************************************** */
.logo img{
    width: 25px;  
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 100px;
    bottom: -10px;
}
.logo h1{
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: cursive;
    font-style:oblique;
}

.container .side a{
    text-decoration: none;
}